<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="config">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>search</title>

        <!-- google fonts -->
        <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

        <!-- Template CSS -->
        <link th:href="@{/css/style-starter.css}" rel="stylesheet" type="text/css" />

    </head>
</th:block>
</html>